Options +FollowSymLinks
RewriteEngine on

RewriteRule ^artiste\/([0-9]{1,})$ index.php?p=artiste&idArtiste=$1
RewriteRule ^artiste$ index.php?p=artiste

RewriteRule ^album\/([0-9]{1,})$ index.php?p=album&idAlbum=$1
RewriteRule ^album$ index.php?p=album


RewriteRule ^titre\/([0-9]{1,})$ index.php?p=titre&idTitre=$1
RewriteRule ^titre$ index.php?p=titre

RewriteRule ^accueil$ index.php?p=accueil
RewriteRule ^login$ index.php?p=login
RewriteRule ^mentions$ index.php?p=mentions
RewriteRule ^licence$ index.php?p=licence



