body
{
	background: #505;
	margin: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1
{
	color: #070;
}

h2
{
	margin-top: 0;
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

#main
{
	background: #DDD;
	width: 800px;
	margin: 2em auto;
	padding: 20px;
	padding-bottom: 0;
	border-radius: 10px;
	position: relative; /* pour #statut */
}

#statut
{
	position: absolute;
	right: 0;
	top: 0;
	margin: 0.5em;
	font-size: smaller;
	font-style: italic;
}


/* Menu */

#menu
{
	margin-top: auto;
	/*margin-left: -20px;*/
	padding: 0;
}

#divMenu
{
	background: gray;
	margin-left: -20px;
	margin-right: -20px;
	overflow: auto;
}

#menu li
{
	float: left;
	list-style-type: none;
}

#menu li a
{
	padding: 1em;
	background: gray;
	border-left: 1px solid gray;
	color: white;
	display: block;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#menu li a:hover, #menu li a.selected
{
	background: white;
	text-decoration: none;
	color: gray;
}
#menu li a:hover
{
	border-radius: 0 0 20px 0;
}
#menu li a:active
{
	color: white;
	border-radius: 0;
	-moz-transition-duration: 0.1s;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
/******************************/

/* Footer */

#footer
{
	background: #CCC;
	border-top: 1px dotted gray;
	text-align: center;
	padding: 3px;
	margin-left: -20px;
	margin-right: -20px;
	border-radius: 0 0 10px 10px;
}

#footer *
{
	font-size: small;
	color: #222;
	margin: 3em;
}

/* Contenu */

#contenu
{
	margin: 1em 0;
}

.pseudoListe, .pseudoTitre
{
	font-size: smaller;
}

.lienTous
{
	font-size: smaller;
	display: block;
	margin-bottom: 0.5em;
}

.lienTous:before
{
	content: "« ";
}

.listeAlbumsArtiste li
{
	list-style-type: none;
}
.listeAlbumsArtiste li:before
{
	content: "» ";
	padding-right: 0.3em;
}

.utilisateur
{
	font-weight: bold;
}
