Options +FollowSymLinks
RewriteEngine on

RewriteRule ^artiste\/([0-9]{1,})$ index.php?p=artiste&idArtiste=$1
RewriteRule ^artiste$ index.php?p=artiste

RewriteRule ^album\/([0-9]{1,})$ index.php?p=album&idAlbum=$1
RewriteRule ^album$ index.php?p=album

RewriteRule ^recherche$ index.php?p=recherche
RewriteRule ^recherche/_/(.*)$ index.php?p=recherche&categorie=tous&q=$1
RewriteRule ^recherche/artiste/(.*)$ index.php?p=recherche&categorie=artiste&q=$1
RewriteRule ^recherche/album/(.*)$ index.php?p=recherche&categorie=album&q=$1
RewriteRule ^recherche/titre/(.*)$ index.php?p=recherche&categorie=titre&q=$1


RewriteRule ^accueil$ index.php?p=accueil
RewriteRule ^login$ index.php?p=login
RewriteRule ^mentions$ index.php?p=mentions
RewriteRule ^licence$ index.php?p=licence



